*{
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk";
  box-sizing: border-box;
}

/* back button */

.back-btn {
  display: inline-block;
  margin: 30px 0 0 40px;
  font-size: 20px;
  color: #ea333d;
  text-decoration: none;
  font-weight: bold;
  background: #fff;
  padding: 10px 24px;
  border-radius: 10px;
  transition: background 0.2s;
}
.back-btn:hover {
    background-color: #ea333d;
    color: #fff;
  }


/* back button */

.home-page {
  background: #222;
  color: #fff;
}

.center-box {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-row {
  margin-top: 40px;
  display: flex;
  gap: 30px;
}

.main-btn {
  text-decoration: none;
  border: none;
  background-color: #ea333d;
  color: #fff;
  border-radius: 10px;
  padding: 20px 50px;
  font-size: 22px;
  font-weight: 700;
  box-shadow: 0 2px 9px #0005;
  transition: 0.2s;
}

.main-btn:hover {
  transform: translateY(-2px) scale(1.02);
  box-shadow: 0 8px 24px #0009;
}

/* Mobile */
@media only screen and (max-width: 580px) {
  .center-box h1{
    margin-top: -400px;
    padding: 0px 30px;
    font-size: 24px;
  }

  .button-row{
    display: flex;
    flex-direction: column;
    gap: 40px
    ;
  }
  .main-btn{
    width: 300px;
  }
}
/* Mobile */


/* To-do */

body{
  background-color: #212121;
}

.main-container{
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: #212121;
  padding: 10px;
}
.todo-app{
  width: 100%;
  max-width: 540px;
  background: #eeecec;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}
.todo-app h1{
  font-weight: 900;
  font-size: 36px;
  color: #ea333d;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.todo-app h1 img{
  width: 30px;
  margin-left: 10px;
}
.row{
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: #252525; */
  border-radius: 10px;
  padding-left: 20px;
  margin-bottom: 25px;
  gap: 10px;
}
input{
  width: 100%;
  height: 60px;
  border-radius: 10px;
  background-color: #212121;
  color: #fff;
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  font-weight: 20px;
}
button{
  height: 60px;
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #ea333d;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
}
ul li{
  list-style: none;
  font-size: 24px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
ul li::before{
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(images/approve.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}
ul li.checked{
  color: #555;
  text-decoration: line-through;
}
ul li.checked::before{
  background-image: url(images/checkbox.png);
}
ul li span{
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 32px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}




/* ul li span:hover{
  background-color: #2458c0;
} */

/* To-do */



/* Notes CSS */

.outer-container{
  min-width: 600px;
  height: 100%;
  border: 1px wolid white;
  margin: 40px;
}

.notes-body{
  width: 100vw;
  height: 100%;
  background-color: #212121;
}

.notes{
  /* margin: 10px; */
  /* border-radius: 10px; */
  /* border: 1px solid white; */
    width: 100%;
    min-height: 100vh;
    border-radius: 10px;
    background-color: black;
    color: #fff;
    padding: 100px;
}

.notes-container{
  flex-wrap: wrap;
  margin: 50px 0px;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  display: flex;
  gap: 20px;
  border-radius: 10px;
}

.notes h1{
  margin: 10px 0px;
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
}
.notes h1 img{
    width: 60px;
}
.notes button img{
    width: 25px;
    margin-right: 8px;
}
.notes button{
    border: none;
  outline: none;
  padding: 16px 50px;
  background: #ea333d;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
}
.input-box{
    position: relative;
    min-height: 300px;
    min-width: 400px;
    max-height: auto;
    max-width: 600px;
    background: #dbdbdb;
    color: #333;
    padding: 20px;
    margin: 20px 0;
    outline: none;
    border-radius: 5px;
}
.input-box img{
    width: 25px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}